.App {
  text-align: center;
  margin-top: 50px;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.margin-auto {
  margin: auto;
}

.participant-labels {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.label {
  background-color: grey;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  display: inline-block;
}

.label.voted {
  background-color: lightblue;
  color: black;
}

.error {
  color: red;
  margin: 10px 0;
}

/* Opcional: estilos para la página de bienvenida */
.Welcome {
  text-align: center;
  padding: 50px;
}

.Welcome h1 {
  font-size: 3em;
  margin-bottom: 20px;
}

.Welcome p {
  font-size: 1.5em;
}
